extends ./layouts/index.jade

block title
  title Светопотолок - световые потолки, световые стены, концептуальная светотехника, проектирование систем освещение

block content
  section#indexPage( style="background-image: url( /template/images/index-bg.png );" )
    
    #indexContainer
    
      .container
        header
          .row
            .col-xs-5
              img#indexLogo( src="/template/images/logo-sp.svg" )
            .col-xs-2.text-right +7 (495) 150-27-50
            .col-xs-5.text-right
              b ОФИС 
              | Москва, ул. Исаковского, дом 33, офис 4.50
      
      img#indexPhoto( src="/template/images/index-photo.jpg" alt="" )
      
      #indexLine
      
      #indexIll
        //-#indexTitle Светопотолок
        #indexSlogan Сайт в разработке<br><br>Световые потолки<br>Световые стены<br>Концептуальная светотехника<br>Проектирование систем освещение
        a#indexMail( href="mailto:info@svetopotolok.ru" ) info@svetopotolok.ru
        #indexIllImg( style="background-image: url( /template/images/index-ill.png );" )
        
      footer
        .container
          .row
            .col-xs-6.col-xs-offset-2
              
            .col-xs-4 Разработка 
              a( href="http://twinpx.ru" target="_blank" ) Twin px