extends ./layouts/index.jade

block title
  title Светопотолок - световые потолки, световые стены, концептуальная светотехника, проектирование систем освещение

block content
  h1 svetopotolok main page